<?xml version="1.0"?>
<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<property name="show_sql">true</property>
		<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="connection.url">jdbc:mysql://127.0.0.1:3306/test?useUnicode=true&amp;characterEncoding=utf8
		</property>
		<property name="connection.username">root</property>
		<property name="connection.password">123456</property>
		<property name="connection.isolation">2</property>
		<property name="dialect">org.hibernate.dialect.MySQLDialect
		</property>
		<property name="hbm2ddl.auto">none</property>
		<mapping resource="org/shock/whatisjava/bean/Name.hbm.xml" />
	</session-factory>
</hibernate-configuration>